@font-face {
    font-family: angerGoth;
    src: url('./AngerStyles.ttf');
}
@font-face {
    font-family: wrathGoth;
    src: url('./WrathStyles.ttf');
}
@font-face {
    font-family: ancient;
    src: url('./Long_Shot.ttf');
}
* {
    padding: 0;
    margin: 0;
}
body {
    font-family: angerGoth;
    background-color: #7d443c;
}

header {
    margin-top: 50px;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: wrathGoth;
}
p {
    font-size: 20px;
}
#books {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 20px;
    
}
.bookForm {
    width: 25%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 1fr);
    font-size: 30px;

}
.input{
    display: grid;
    grid-template-columns: 1fr 3fr;
}


.checkboxContainer {
    display: grid;
    grid-template-columns: 1fr 3fr;
}
.checkbox{
    justify-self: flex-start;
    align-self: center;
    cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: 0;
  background:#9eb2c4;
  height: 16px;
  width: 16px;
  border: 1px solid white;
  color: white;
    
}

.checkbox:checked {
    background-color:#927f4c;
    border: 1px solid black;
    
    
}


  
  
  
  
  
  
input {
    border: none;
    background-color: #9eb2c4;
    height: 30px;
    padding-left: 10px;
    
}
.input:focus{
    background-color: #927f4c;
    border: 0;
    outline:none;
}
.input::placeholder {
    color: #151a1b;
    opacity: 40%;
}
/* remove arrows from number input */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}


.addButton {
    border: none;
    font-size: 30px;
    font-family: ancient;
    background-color:#a88983;
    padding: 50px;
    width: 80%;
}

.addButton:hover {
    background-color: #151a1b;
    color: white;
}



.addedBooks {
    width: 100%;
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25%, 20%));
    gap: 5px;
    justify-content: center;
    background-color: #7d443c;
    
    
    
    
}


.bookCard {
    
    width: 100%;
    height: 200px;
    font-family: ancient;
    font-size: 20px;
    display: grid;
    grid-template-rows: 1fr 5fr;
    
    background-color: #7d443c;
    gap: 10px;
    
    
}

.buttonContainer {
    display: grid;
    grid-template-rows: 1fr 2fr;
    
}
.buttonContainer > button {
    background-color: #927f4c;
        
}
.submitButton {
    margin-top: 10px;
    background-color: #7d443c;
    border: 1px solid black;
}
.submitButton:hover {
    background-color: #927f4c;
}